# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
KAFKA_URL=localhost:9092

POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=noti_db